@media (min-width: 600px) {
  .inline { 
    display: inline;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3 {
  font-family: "Courgette", cursive;
}

h2, header h2, h5 {
  color: #77CFF2;
}

h3 {
  color: #1A31D9;
}

footer {
  background-image: linear-gradient(#04D939, white);
  padding: 20px 0;
}

footer h5 {
  color: #1A31D9;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(#012340, #04D939);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}